<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info-Release.plist
   Runner

   Created by 韩塞 on 2023/5/8.
   Copyright (c) 2023 The Chromium Authors. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
